a:link, a:visited, a:hover{
    color: #e7e7e7;
    text-decoration: none;
}

body{
    margin: 0;
    background-color: #e7e7e7;
}

.wrapper{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 100px;
    background: #101e28;
    border-top: 2px solid #21053b 
}

.navholder{
    width: 80%;
    height: 100%;
    margin: auto;
}

.logo{
    width: auto;
    height: 90%;
    float: left;
}

.logo img{
    width: auto;
    height: 100%;
    margin-top: 5%;
}

nav{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

nav ul li{
    font-size: 18px;
    font-family: 'microgramma';
    font-weight: 200;
}

nav ul li a:hover{
    font-size: 22px;
    transition: 0.15s all;
}

.jb{
    color:rgb(0, 0, 0) !important;
    background: #e7e7e7;
    padding: 10px 20px;
    border-radius: 10px;
}

.banner{
width: 100%;
height: 600px;
max-height: 700px;
margin-bottom: 50px;
background-image: url(images/banner.jpg);
background-position: top;
background-size: contain;
background-color: #430e74;
background-blend-mode: normal;
opacity: 0.9;
}

.bannertxt{
    width: 80%;
    height: auto;
    margin: auto;
}

.bannertxt h1{
    width: 50%;
    margin-top: 10%;
    float: left;
    font-family: 'Raleway';
    font-size: 130px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 140px;
    letter-spacing: 3px;

}